<div class="container">
  <div class="header">
    <h1>Manage.me</h1>
    <div class="button-container">
      <button (click)="toggleForm()">Stwórz nowy projekt</button>
    </div>
  </div>
  <div class="project-list">
    <div class="project" *ngFor="let project of projects">
      <div class="project-info">
        <h3 class="project-name">Nazwa projektu: {{ project.name }}</h3>
        <p class="project-description">Opis projektu: {{ project.description }}</p>
      </div>
      <div class="project-actions">
        <button class="action-button delete" (click)="deleteProject(project.id)">Usuń</button>
        <button class="action-button details" (click)="projectDetails(project.id)">Szczegóły</button>
        <button class="action-button edit" (click)="editProject(project)">Edytuj</button>
      </div>
    </div>
  </div>

  <div *ngIf="showForm">
    <form *ngIf="!selectedProject" (ngSubmit)="addProject(newProject)">
      <label for="name">Nazwa projektu:</label>
      <input id="name" [(ngModel)]="newProject.name" name="name" required>
      <label for="description">Opis projektu:</label>
      <input id="description" [(ngModel)]="newProject.description" name="description" required>
      <button type="submit">Dodaj projekt</button>
    </form>
    <form *ngIf="selectedProject" (ngSubmit)="updateProject()">
      <label for="name">Nazwa projektu:</label>
      <input id="name" [(ngModel)]="selectedProject.name" name="name" required>
      <label for="description">Opis projektu:</label>
      <input id="description" [(ngModel)]="selectedProject.description" name="description" required>
      <button type="submit">Edytuj</button>
      <button type="button" (click)="showForm = false">Anuluj</button>
    </form>
  </div>
</div>
